<% include ../partials/header %>
<div class="container">
  <a id="logoutBtn"  href="/logout"><button class="" type="button">logout</button> </a>
  <a id="logoutBtn"  href="/home"><button class="" type="button">Home</button> </a>
  <a id="logoutBtn"  href="/entries/all"><button class="" type="button">Entries</button> </a>
  <a id="logoutBtn"  href="/<%= user.username %>"><button class="" type="button">Profile</button> </a>
</div><br>

  <table>
    <tr align='center'>
      <th>Date | </th>
      <th>Subject | </th>
      <th>From</th>
    </tr>
    <% inbox.forEach((mail) => { %>
      <h1><%= mail.seen %></h1>
      <tr>
        <td><%= mail.date.toLocaleDateString() %></td>

        <% if(  !mail.seen  ) { %>
          <td><a style="color: red" href="/inbox/read/<%= mail._id %>"><%= mail.subject %></a></td>
        <%} else { %>
          <td><a style="color:#000;" href="/inbox/read/<%= mail._id %>"><%= mail.subject %></a></td>
        <%}%>

        <td><%= mail.fromName %></td>
      </tr>
    <% }) %>

  </table>

<% include ../partials/footer %>
