<% include ../partials/header %>


  <table id="inboxAll" class="text-center">
    <tr>
      <th>Date </th>
      <th>Subject</th>
      <th>From</th>
      <th>Delete</th>
    </tr>
    <% inbox.forEach((mail) => { %>
      <tr>
        <td><%= mail.date.toLocaleDateString()  %></td>

        <% if(  !mail.seen  ) { %>
          <td><a style="color: red" href="/inbox/read/<%= mail._id %>"><%= mail.subject %></a></td>
        <%} else { %>
          <td><a style="color:#000;" href="/inbox/read/<%= mail._id %>"><%= mail.subject %></a></td>
        <%}%>

        <td><%= mail.fromName %></td>
        <td>
          <form class="" action="/inbox/remove/<%= mail._id %>" method="post">
            <button type="submit"> ( x )</button>
          </form>
        </td>
      </tr>
    <% }) %>

  </table>

<% include ../partials/footer %>
