<% include partials/header %>

  <div class="text-center container lead">
    <h1 class=""><%= title %></h1>
    <p>Welcome <%= user.username.toUpperCase() %> to <%= title %> </p>
  </div>

  <div class="text-center">
    <p>there are currently <%= Users.length %></p>
    <h3><u>Members</u> </h3>
    <% Users.forEach((user) => { %>
      <p > <b><a style="color:#000;" href="/<%= user.username%>"><%= user.username.toUpperCase() %>'s Profile</a></b> </p>
    <% }) %>
  </div>

  <div class="container jumbotron">
    <div class="text-center">
      <% if(entry.length === 1) { %>
        <p> You have <%= entry.length %> document available.</p>
      <% } else {%>
        <p> You have <%= entry.length %> documents available.</p>
      <% } %>
    </div>

    <div class="text-center">
      <button class="text-center"type="button" data-toggle="collapse" data-target="#demo"><b><u>Quick Posting</u> </b>  </button><br><br>

    </div>
    <div  id="demo" class="collapse">
      <form class="box text-center" action="/entries/new" method="post">
        <h2>Journal Entry Form</h2>
        <div class="">
          <label for="subject">Subject</label>
          <input class="form-control"type="text" name="subject" id="subject" value="">
        </div>

        <div class="">
          <label for="body">Body</label>
          <textarea required class="form-control" name="body"id="body" rows="8" cols="60"></textarea>
        </div><br>

        <div class="">
          <button type="submit" class="btn " name="button">Add New Data</button>
        </div>
      </form>
    </div>

    <div style=""class="box text-center" id="formDisplay">
      <% if(entry.length === 1) { %>
        <p> You have <%= entry.length %> document available.</p>
      <% } else {%>
        <p> You have <%= entry.length %> documents available.</p>
      <% } %>
      <div class="" id="">
        <% if(entry.length > 0){ %>
        <div class="container cardholder" >
          <% entry.forEach(function(doc){ %>
            <div class="" style="display: inline-block">
              <div class="flip-card grid-item">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img src="" alt="Avatar" style="width:300px;height:300px;">
                  </div>
                  <div class="flip-card-back">
                    <h3><a href="/entries/<%= doc.id %>" ><%= doc.subject.toUpperCase() %></a></h3>
                    <% Users.forEach((user) => { %>
                      <% if( user.id === doc.authorId) { %>
                        <p>Written by: <%= user.username.toUpperCase() %></p>
                      <%}%>
                    <% }) %>
                    <p style="font-size: 18px;">Published: <%= doc.date.toLocaleDateString() %></p>
                  </div>
                </div>
              </div>
            </div>
          <% }); %>
        </div>
        <% } %>

      </div>
    </div>


<% include partials/footer %>
