<% include partials/header %>

  <div class="container">
    <a id="logoutBtn"  href="/logout"><button class="" type="button">logout</button> </a>
    <a id="logoutBtn"  href="/entries/all"><button class="" type="button">Entries</button> </a>
    <a id="logoutBtn"  href="/<%= user.username %>"><button class="" type="button">Profile</button> </a>
    <a id="logoutBtn"  href="/inbox/all"><button class="" type="button">Mailbox</button> </a>
  </div>

  <div class="text-center container lead">
    <h1 class=""><%= title %></h1>
    <p>Welcome <%= user.username.toUpperCase() %> to <%= title %> </p>
  </div>

  <div class="text-center">
    <p>there are currently <%= Users.length %></p>
    <h3><u>Members</u> </h3>
    <% Users.forEach((user) => { %>
      <p> <b><%= user.username%></b> </p>
    <% }) %>
  </div>




  <div class="container jumbotron">
    <!-- <div class="wrapper"> -->
    <div class="text-center">
      <% if(entry.length === 1) { %>
        <p> You have <%= entry.length %> document available.</p>
      <% } else {%>
        <p> You have <%= entry.length %> documents available.</p>
      <% } %>
    </div>

    <button type="button" class="collapsible">Quick Post</button>

    <div class="content">
      <form class="box text-center" action="/entries/new" method="post">
        <h2>Journal Entry Form</h2>
        <div class="">
          <label for="subject">Subject</label>
          <input class="form-control"type="text" name="subject" id="subject" value="">
        </div>

        <div class="">
          <label for="body">Body</label>
          <textarea required class="form-control" name="body"id="body" rows="8" cols="60"></textarea>
        </div><br>

        <div class="">
          <button type="submit" class="btn " name="button">Add New Data</button>
        </div>
      </form>
    </div>
    <script>
      var coll = document.getElementsByClassName("collapsible");
      var i;

      for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var content = this.nextElementSibling;
          if (content.style.maxHeight){
            content.style.maxHeight = null;
          } else {
            content.style.maxHeight = content.scrollHeight + "px";
          }
        });
      }
    </script>



      <!-- <div style=""class="box text-center" id="formDisplay">
        <% if(entry.length === 1) { %>
          <p> You have <%= entry.length %> document available.</p>
        <% } else {%>
          <p> You have <%= entry.length %> documents available.</p>
        <% } %>
        <div class="" id="docDisplay">
        <% if(entry.length > 0){ %>

          <% entry.forEach(function(doc){ %>
            <div class="doc" >
              <h2><a href="/entry/<%= doc.id %>" ><%= doc.subject %></a></h2>

                <p style="font-size: 18px;">Published: <%= doc.date %></p>
            </div>
          <% }); %>

        <% } %>
        </div>
      </div> -->
    <!-- </div> -->
  </div>


<% include partials/footer %>
