<% include ../partials/header %>



  <div class="text-center container lead">
    <h1 class=""><%= title %></h1>
    <p>Welcome to <%= title %> </p>
  </div>

  <div class="container jumbotron">
    <!-- <a id="logoutBtn"  href="/entry/newEntry"><button class="" type="button">Add Post</button> </a> -->
    <form class="text-center"action="/entries/add" method="GET">
      <button class="btn btn-inverse btn-block" type="submit">Add A Post</button>
    </form><br><br>
    <!-- <div class="wrapper"> -->

      <!-- <form class="box text-center" action="/entry/new" method="post">
        <h2>Journal Entry Form</h2>
        <div class="">
          <label for="subject">Subject</label>
          <input class="form-control"type="text" name="subject" id="subject" value="">
        </div>

        <div class="">
          <label for="body">Body</label>
          <textarea required class="form-control" name="body"id="body" rows="8" cols="60"></textarea>
        </div><br>

        <div class="">
          <button type="submit" class="btn " name="button">Add New Data</button>
        </div>
      </form> -->

      <div style=""class="box text-center" id="formDisplay">
        <% if(entry.length === 1) { %>
          <p> There is <%= entry.length %> document available.</p>
        <% } else {%>
          <p> There are <%= entry.length %> documents available.</p>
        <% } %>
        <div class="" id="docDisplay">
        <% if(entry.length > 0){ %>

          <% entry.forEach(function(doc){ %>
            <div class="doc" >
              <h2><a href="/entries/<%= doc.id %>" ><%= doc.subject %></a></h2>

                <p style="font-size: 18px;">Published: <%= doc.date %></p>
            </div>
          <% }); %>

        <% } %>
        </div>
      <!-- </div> -->
    </div>
  </div>


<% include ../partials/footer %>
