<% include ../partials/header %>

    <% include ../partials/nav %>


    <div class="text-center container lead">

        <div style=""class="box text-center" id="">

          <div class="" id="">
          <% if(entry.length > 0){ %>
            <div style="color:#000;" class="text-center  jumbotron">
              <% if(currentUser.subscriptions.length === 0 ){ %>
                <form style="text-align:right;" class="subscriptionBtn" action="/entries/add/subscription/<%= entry[0].id %>" method="post">
                  <button type="submit" class="btn btn-default" >Subscribe</button>
                </form>
              <%} else { %>
                <% currentUser.subscriptions.forEach(function(sub){ %>
                  <!-- <%= sub %> -->
                  <!-- <b><%=entry[0].author%></b> -->
                  <!-- <b><%=sub.authorName%></b> -->
                  <% if(!sub.authorName == entry[0].author) { %>
                    <form style="text-align:right;" class="subscriptionBtn" action="/entries/remove/subscription/<%= entry[0].id %>" method="post">
                      <button type="submit" class="btn btn-default" >Un-Subscribe</button>
                    </form>
                    <% } %>

                <%})%>
              <%}%>


              <h2><b><%= entry[0].subject %></b> </h2>
              <i>By: <a href="/<%= entry[0].author %>"><%= entry[0].author %></a> </i>

            </div>
            <% entry.forEach(function(doc){ %>
              <div class="" >
                <p style="font-size: 18px;">Published: <%= entry[0].date.toDateString() %></p>
                <h3><b><%= doc.subject %></b> </h3>
                  <p><%= doc.body %></p>
                  <br><br>
                  <% if( currentUser.id === doc.authorId) { %>

                    <form class="ctrl" action="/entries/delete/<%= doc.id %>" method="post">
                      <button class="btn"type="submit" data-toggle="tooltip" title="Are you sure ? This is permanent!">delete</button>
                    </form>

                    <form class="ctrl" action="/entries/update/<%= doc.id %>" method="post">
                      <button class="btn"type="submit">update</button>
                    </form>

                  <% }else{ %>

                    <form class="voteForm up" action="/entries/<%= doc.id %>/vote/up" method="post">
                      <button type="submit"> <i class="fa fa-thumbs-up"></i>  <%= doc.upvotes.length %></button>
                    </form>
                    <form class="voteForm down" action="/entries/<%= doc.id %>/vote/down" method="post">
                      <button type="submit"> <i class="fa fa-thumbs-down"></i> <%= doc.downvotes.length %></button>
                    </form>
                  <% } %>

                  <!-- <form class="voteForm up" action="/entries/<%= doc.id %>/vote/up" method="post">
                    <button type="submit"> <i class="fa fa-thumbs-up"></i>  <%= doc.upvotes.length %></button>
                  </form>
                  <form class="voteForm down" action="/entries/<%= doc.id %>/vote/down" method="post">
                    <button type="submit"> <i class="fa fa-thumbs-down"></i> <%= doc.upvotes.length %></button>
                  </form> -->


              </div>
            <% }); %>

          <% } %>
          </div>
        </div>
      </div>
    </div>


<% include ../partials/footer %>
