<% include ../partials/header %>



    <!-- <div class="text-center container jumbotron">
      <h2><%= entry[0].subject %> </h2>
      <p style="font-size: 18px;">Published: <%= entry[0].date.toDateString() %></p>

    </div> -->
    <% include ../partials/nav %>


    <div class="text-center container lead">

        <div style=""class="box text-center" id="">

          <div class="" id="">
          <% if(entry.length > 0){ %>
            <div style="color:#000;" class="text-center  jumbotron">
              <h2><b><%= entry[0].subject %></b> </h2>
              <p style="font-size: 18px;">Published: <%= entry[0].date.toDateString() %></p>

            </div>
            <% entry.forEach(function(doc){ %>
              <div class="" >
                <h3><b><%= doc.subject %></b> </h3>
                  <p><%= doc.body %></p>
                  <% if( currentUser.id === doc.authorId) { %>
                    <form class="ctrl" action="/entries/delete/<%= doc.id %>" method="post">
                      <button class="btn"type="submit" data-toggle="tooltip" title="Are you sure ? This is permanent!">delete</button>
                    </form>

                    <form class="ctrl" action="/entries/update/<%= doc.id %>" method="post">
                      <button class="btn"type="submit">update</button>
                    </form>

                  <% }else{ %>

                    <form class="voteForm up" action="/entries/<%= doc.id %>/vote/up" method="post">
                      <button type="submit"> <i class="fa fa-thumbs-up"></i>  <%= doc.upvotes.length %></button>
                    </form>
                    <form class="voteForm down" action="/entries/<%= doc.id %>/vote/down" method="post">
                      <button type="submit"> <i class="fa fa-thumbs-down"></i> <%= doc.downvotes.length %></button>
                    </form>
                  <% } %>

                  <!-- <form class="voteForm up" action="/entries/<%= doc.id %>/vote/up" method="post">
                    <button type="submit"> <i class="fa fa-thumbs-up"></i>  <%= doc.upvotes.length %></button>
                  </form>
                  <form class="voteForm down" action="/entries/<%= doc.id %>/vote/down" method="post">
                    <button type="submit"> <i class="fa fa-thumbs-down"></i> <%= doc.upvotes.length %></button>
                  </form> -->


              </div>
            <% }); %>

          <% } %>
          </div>
        </div>
      </div>
    </div>


<% include ../partials/footer %>
